apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  storageClassName: local-path   # <-- k3s default storage class
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi